{% block toolbar %}
    
    {# Logo #}
    {% set icon %}
        <img width="30" height="30" alt="Environment" src="data:image/gif;base64,R0lGODlhAQABAAAAACwAAAAAAQABAAA=" />
        <span>
            {% if collector.applicationname %}
                {{ collector.applicationname }} {{ collector.applicationversion }}
            {% else %}
                {{ collector.backbuilderversion }}
            {% endif %}
        </span>
    {% endset %}
    {% include '/Profiler/toolbar_item.html.twig' with { 'link': false } %}

    
    {# PHP Information #}
    {% set icon %}
        <img width="30" height="30" alt="PHP" src="data:image/gif;base64,R0lGODlhAQABAAAAACwAAAAAAQABAAA=" />
    {% endset %}
    {% include '/Profiler/toolbar_item.html.twig' with { 'link': false } %}

    
    {# Environment #}
    {% set debug_status_class %}bb-toolbar-status bb-toolbar-status-{{ collector.debug ? 'green' : 'red' }}{% endset %}
    {% set icon %}
        <img width="30" height="30" alt="Environment" src="data:image/gif;base64,R0lGODlhAQABAAAAACwAAAAAAQABAAA=" />
        <span class="bb-toolbar-item-additional-detail {{ debug_status_class }}"> </span>
        <span class="bb-toolbar-item-additional bb-toolbar-status">{{ token }}</span>
        {% if 'n/a' != collector.appname or 'n/a' != collector.env %}
            <span class="bb-toolbar-item-additional-detail">
                <span class="bb-toolbar-info-with-delimiter">{{ collector.appname }}</span>
                <span>{{ collector.env }}</span>
            </span>
        {% endif %}
    {% endset %}
    {% include 'Profiler/toolbar_item.html.twig' with { 'link': profiler_url } %}
{% endblock %}

{% block panel %}
    <h2>Project Configuration</h2>
    <table>
        <tr>
            <th>Key</th>
            <th>Value</th>
        </tr>
        <tr>
            {% if collector.applicationname %}
                <th>Application</th>
                <td>{{ collector.applicationname }} {{ collector.applicationversion }} (on Symfony {{ collector.symfonyversion }})</td>
            {% else %}
                <th>Symfony version</th>
                <td>{{ collector.symfonyversion }}</td>
            {% endif %}
        </tr>
        {% if 'n/a' != collector.appname %}
            <tr>
                <th>Application name</th>
                <td>{{ collector.appname }}</td>
            </tr>
        {% endif %}
        {% if 'n/a' != collector.env %}
            <tr>
                <th>Environment</th>
                <td>{{ collector.env }}</td>
            </tr>
        {% endif %}
        {% if 'n/a' != collector.debug %}
            <tr>
                <th>Debug</th>
                <td>{{ collector.debug ? 'enabled' : 'disabled' }}</td>
            </tr>
        {% endif %}
    </table>

    <h2>PHP configuration</h2>
    <table>
        <tr>
            <th>Key</th>
            <th>Value</th>
        </tr>
        <tr>
            <th>PHP version</th>
            <td>{{ collector.phpversion }}</td>
        </tr>
        <tr>
            <th>Xdebug</th>
            <td>{{ collector.hasxdebug ? 'enabled' : 'disabled' }}</td>
        </tr>
        <tr>
            <th>PHP acceleration</th>
            <td>{{ collector.hasaccelerator ? 'enabled' : 'disabled' }}</td>
        </tr>
        <tr>
            <th>XCache</th>
            <td>{{ collector.hasxcache ? 'enabled' : 'disabled' }}</td>
        </tr>
        <tr>
            <th>APC</th>
            <td>{{ collector.hasapc ? 'enabled' : 'disabled' }}</td>
        </tr>
        <tr>
            <th>Zend OPcache</th>
            <td>{{ collector.haszendopcache ? 'enabled' : 'disabled' }}</td>
        </tr>
        <tr>
            <th>EAccelerator</th>
            <td>{{ collector.haseaccelerator ? 'enabled' : 'disabled' }}</td>
        </tr>
        <tr>
            <th>Full PHP configuration</th>
            <td><a href="#phpinfo"><code>phpinfo</code></a></td>
        </tr>
    </table>

    {% if collector.bundles %}
        <h2>Active bundles</h2>
        <table>
            <tr>
                <th>Name</th>
                <th>Path</th>
            </tr>
            {% set bundles = collector.bundles %}
            {% for name in bundles|keys|sort %}
            <tr>
                <th>{{ name }}</th>
                <td>{{ bundles[name] }}</td>
            </tr>
            {% endfor %}
        </table>
    {% endif %}
{% endblock %}
