
{% import _self as logger %}

{% block toolbar %}
        {% set icon %}
            <img width="15" height="28" alt="Logs" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAcCAYAAABoMT8aAAAA4klEQVQ4y2P4//8/AyWYYXgYwOPp6Xnc3t7+P7EYpB6k7+zZs2ADNEjRjIwDAgKWgAywIUfz8+fPVzg7O/8AGeCATQEQnAfi/SAah/wcV1dXvAYUgORANA75ehcXl+/4DHAABRIe+ZrhbgAhTHsDiEgHBA0glA6GfSDiw5mZma+A+sphBlhVVFQ88vHx+Xfu3Ll7QP5haOjjwtuAuGHv3r3NIMNABqh8+/atsaur666vr+9XUlwSHx//AGQANxCbAnEWyGQicRMQ9wBxIQM0qjiBWAFqkB00/glhayBWHwb1AgB38EJsUtxtWwAAAABJRU5ErkJggg==" />
            {% if collector.countErrors() %}
                {% set status_color = "red" %}
            {% else %}
                {% set status_color = "yellow" %}
            {% endif %}
            {% set error_count = collector.countErrors() + collector.countDeprecations() %}
            <span class="bb-toolbar-status bb-toolbar-status-{{ status_color }}">{{ error_count }}</span>
        {% endset %}
        {% set text %}
            {% if collector.countErrors() %}
                <div class="bb-toolbar-item">
                    <b>Exception</b>
                    <span class="bb-toolbar-status bb-toolbar-status-red">{{ collector.countErrors() }}</span>
                </div>
            {% endif %}
            {% if collector.countDeprecations() %}
                <div class="bb-toolbar-item">
                    <b>Deprecated Calls</b>
                    <span class="bb-toolbar-status bb-toolbar-status-yellow">{{ collector.countDeprecations() }}</span>
                </div>
            {% endif %}
        {% endset %}
        {% include '/Profiler/toolbar_item.html.twig' with { 'link': profiler_url } %}
{% endblock %}

{% block panel %}
    <h2>Logs</h2>

    {% if collector.getLogs() %}
        {% import _self as logger %}
        <ol class="alt" id="bb-toolbar-log-items">
            {% for log in collector.logs if priority >= 0 and log.priority >= priority or priority < 0 and log.context.type|default(0) == priority %}
                <li class="{{ cycle(['odd', 'even'], loop.index) }}{% if log.priority == 1 %} error{% elseif log.priority == 2 %} warning{% endif %}">
                    {{ log.priorityName }} - {{ log.message }}
                </li>
            {% else %}
                <li><em>No logs available for this priority.</em></li>
            {% endfor %}
        </ol>
    {% else %}
        <p>
            <em>No logs available.</em>
        </p>
    {% endif %}

        <style>
            #bb-toolbar-log-items li {
                padding: 5px;
            }

            #bb-toolbar-log-items li.odd {
                background-color: #eee;
            }

            #bb-toolbar-log-items li.warning {
                background-color: yellow;
            }

            #bb-toolbar-log-items li.error {
                background-color: red;
            }
        </style>
{% endblock %}
